* {
    margin: 0;
}

html, body {
    --black: hsl(240, 6%, 13%);
    --grey: hsl(240, 9%, 89%);
    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #31343b;
}

main {
    background: url(images/background.svg) no-repeat center/cover;
    width: 22.375rem;
    height: 33.75rem;
    border-radius: 1rem;
}

.container {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    color: var(--grey);
}

body span {
    position: absolute;
    margin-top: -37.5rem;
    z-index: 100;
}

body span:nth-child(2) {
    position: absolute;
    margin-top: -28.125rem;
    z-index: 100;
}

.container .avatar {
    padding-top: 75px;
}

.avatar {
    width: 10rem;
    margin: 0 auto 0;
    
    position: relative;
}

.avatar span {
    position: absolute;
    top: 150px;
    z-index: 1;
}

.avatar > img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

body {
    display: grid; /*?*/
    place-items: center; /*?*/
 
}


h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

a {
    color: var(--grey);

    text-decoration: none;

    margin-top: 0.25rem;

    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}

p {
    margin-top: 3rem;
}

ul {
    margin-top: 2rem;
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

#userLink {
    margin-top: 1rem;
}

.icons {
    border-radius: 5px;
}

.instagram:hover {
    background-color: #c13584;
}

.youtube:hover {
    background-color: #ff0000;
}

.facebook:hover {
    background-color: #4267B2;
}

.twitter:hover {
    background-color: #1DA1F2;
}